@import '../../../styles/color.scss';
@import '../UIcomponents/UIstyles.scss';

.bmi-select-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.result-button-wrapper {
  @include resultButtonWrapper();
}
