@import '../../../styles/color.scss';

.age-calculator-container {
  display: flex;
  justify-content: center;
  padding: 80px 0px;
  background-color: #f6f7f8;
}

.age-wrapper-form {
  padding: 60px 50px;
  width: 620px;
  background-color: white;
  border-radius: 14px;
  box-shadow: #dedee0a6 0px 12px 25px -20px;
}

.select-animal-wrapper {
  display: flex;
  margin-bottom: 32px;
  width: 100%;

  /* 
  flex-wrap property는 flex-item 요소들이 강제로 한줄에 배치되게 할 것인지, 또는 가능한 영역 내에서 벗어나지 않고 여러행으로 나누어 표현 할 것인지 결정하는 속성입니다.
  */
}

.animal-select-label {
  width: 160px;
  font-weight: bold;
  padding: 10px 0px;
  white-space: pre-line;
  font-family: 'yg-jalnan';
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: -0.32px;
}
.select-image-wrapper,
.dogSize-radio-button-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 360px;

  .unselect-image-box,
  .select-image-box {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 150px;
    border: 5px solid #f6f7f8;
    border-radius: 10px;
    margin-right: 20px;
    background-color: #f6f7f8;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #cfcece;
  }

  .select-image-box {
    border: 5px solid $primaryColor;
    background-color: white;
    color: #090909;
    & > img {
      opacity: 1;
    }
  }

  /* 
  multiply: the element is multiplied by the background and replaces the background color. The resulting color is always as dark as the background.
  */
  img {
    width: 110px;
    height: 110px;
    background: transparent;
    opacity: 0.35;
    mix-blend-mode: multiply;
  }

  p {
    text-align: center;
    font-weight: bold;
    font-family: 'yg-jalnan';
  }
}

.select-date-wrapper,
.select-dogSize-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}
.date-input-wrapper {
  width: 100%;
  max-width: 360px;
  text-align: right;
  height: 48px;
  border-radius: 14px;
  background-color: #f6f7f8;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 2px solid transparent;

  input {
    color: #090909;
    font-family: 'yg-jalnan';
    height: 26px;
    font-size: 14px;
    outline: none;
    border: none;
    width: 100%;
    background-color: #f6f7f8;

    &::placeholder {
      opacity: 0.35;
    }
  }
}
.date-input-icon {
  padding-right: 10px;
  padding-left: 21px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.dogSize-radio-button-wrapper {
  display: flex;
  width: 100%;
}

@mixin chooseDogSize($color) {
  display: flex;
  align-items: center;
  color: $color;
  min-width: 70px;
  padding: 0px;
  margin: 0px;
  font-family: 'yg-jalnan';
  font-size: 14px;
  line-height: 1.86;

  & > input {
    padding: 3px 0px;
    background-color: #f6f7f8;
    margin: 0px 10px 0px 0px;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    outline: none;
  }

  & > input:checked {
    border: 5px solid rgb(252, 209, 30);
    background-color: #fff;
  }
}

.input-radio-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 16px;

  .unselected-dogSize {
    @include chooseDogSize(#cfcece);
  }
  .selected-dogSize {
    @include chooseDogSize(#090909);
  }
}

.age-result-button-wrapper {
  margin: 60px 70px 0px;
  button {
    width: 100%;
    height: 48px;
    border-radius: 14px;
    border: none;
    outline: none;
    font-family: 'yg-jalnan';
    color: #090909;
    background-color: #fcd11e;
  }
}
