.main-nav-container {
  max-width: 1400px;
  margin: 0 auto;

  .main-nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 110px;
    padding: 20px 0;
    line-height: 70px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    a {
      font-size: 1.1rem;
      padding: 0 14px;
      color: #2c2f34;
      font-weight: 600;
    }

    i {
      padding-left: 5px;
    }
  }
}
