@import '../styles/color.scss';

.main-container {
  margin-top: 60px;

  .popular-title,
  .editor-title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.9rem;
    font-weight: 800;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 95px;
      padding: 0 0 4px;
      border-bottom: 2px solid $primaryColor;
      margin: 0 auto;
    }
  }
}
