@import '../../styles/color.scss';
@import './UIcomponents/UIstyles.scss';

.main-img-container {
  position: relative;
  margin: 0 auto;
  max-width: 620px;
  height: 400px;
  display: flex;
  justify-content: flex-end;

  img {
    width: 400px;
    height: 400px;
  }
}

.logo-text-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 93px;

  h1,
  span {
    color: #090909;
    font-size: 38px;
    line-height: 1.315em;
    white-space: nowrap;
    font-weight: 700;
    font-family: 'yg-jalnan';
  }

  .home-logo-span {
    color: $primaryColor;
  }
  .age-logo-span {
    color: #f29833;
  }
  .food-logo-span {
    color: #4e7f1c;
  }

  .recommended-logo-span {
    color: #5843be;
  }

  .bmi-logo-span {
    color: #3b74c8;
  }

  p {
    line-height: 1.75em;
    font-family: Apple SD Gothic Neo;
    font-size: 16px;
    margin: 0px;
    white-space: nowrap;
    color: #868688;
  }
}

.calculator-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0px 110px;

  button:hover {
    cursor: pointer;
  }
  .food-calculator-menu {
    @include calculatorMenu(#fefaee, #4e7f1c);
  }
  .recommend-calculator-menu {
    @include calculatorMenu(#f7f4ff, #5843be);
  }
  .bmi-calculator-menu {
    @include calculatorMenu(#ecf6ff, #3b74c8);
  }
  .age-calculator-menu {
    @include calculatorMenu(#fff3e5, #f29833);
  }
}

/* 
TODO 

- 로고, 이미지 축소

- 칼로리 버튼 flex 정렬 변경

*/

@media only screen and (max-width: 768px) {
  .main-img-container {
    max-width: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 160px;
      height: 160px;
      margin-left: 193px;
    }
  }
  .logo-text-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 0 !important;
    h1,
    span {
      color: #090909;
      font-size: 28px;
      line-height: 37px;
      white-space: nowrap;
      font-weight: 700;
      font-family: 'yg-jalnan';
    }

    .home-logo-span {
      color: $primaryColor;
    }
    .age-logo-span {
      color: #f29833;
    }
    .food-logo-span {
      color: #4e7f1c;
    }

    .recommended-logo-span {
      color: #5843be;
    }

    .bmi-logo-span {
      color: #3b74c8;
    }

    p {
      font-family: Apple SD Gothic Neo;
      white-space: nowrap;
      color: #868688;
      font-size: 12px;
      line-height: 1.5;
    }
  }
  /* 
 max-width: 375px;
  */
}
