@import '../../../styles/color.scss';

.search-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 35px 10px 10px 10px;
  display: flex;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.description-wrapper {
  flex: 2.5;
  padding-left: 15px;
  h4 {
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 550;
    color: #707070;
  }
  h3 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    color: $textColor;
  }
}

.search-area-wrapper {
  flex: 7.5;
}
.search-window {
  display: flex;
  width: 1013px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $primaryColor;
  border-radius: 6px;
  height: 55px;

  input {
    width: 93%;
    height: 23px;
    padding: 15px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    background-color: $bodyColor;
  }

  button {
    width: 7%;
    height: 52px;
    background-color: $primaryColor;
    i {
      font-size: 1.3rem;
    }
    &:hover {
      cursor: pointer;
      transition: 0.3s;
      background: lighten($primaryColor, 10%);
    }
  }
}
