@import './styles/color.scss';
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  // 브라우저에서 기본지정한 margin, padding 제거
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  font-size: 13px;
}
body {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  background-color: $bodyColor;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border-radius: 0;
  border: 0;
}
