@import '../styles/color.scss';

.corporation-area {
  height: auto;
  background-color: #161619;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #eee;
  line-height: 30px;
  & > a > img {
    width: 150px;
  }
}
.corporation-list {
  display: flex;
  justify-content: center;

  & > li {
    padding: 3px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
