@import '../styles/color.scss';

// margin top 50px
.widget-container {
  margin: 0 auto;
  max-width: 1400px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.widget-wrapper {
  h4 {
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;

    &::after {
      content: '';
      display: block;
      width: 40px;
      padding: 0 0 4px;
      border-bottom: 3px solid #ffcd00;
    }
  }

  ul {
    margin-top: 15px;
  }
  li {
    font-size: 1.05rem;
    line-height: 21px;
    color: #7f0000;
    font-weight: 500;
    &:hover {
      transition: 0.3s;
      cursor: pointer;
      color: $primaryColor;
      font-weight: 700;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
