// position : relative -> 가장 가까운 블럭, or 자체적으로 컨테이닝블록 형성
// position : absolute -> 부모요소중 컨테이닝블록 요소 기준으로 이동
@import '../../../styles/color.scss';

.top-nav {
  background-color: $primaryColor;
  height: 54px;
}
.top-nav-container {
  line-height: 35px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 0px 8px 0px;

  .top-nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    a {
      transition: 0.3s;
      font-weight: 600;
      color: #3f3f3f;
      padding: 5px 10px;
    }
  }
}
