@mixin changeIconColor($iconColor) {
  color: $iconColor !important;
  transition: 0.3s ease-in-out;
  transform: scale(1.3);
  cursor: pointer;
}

.sns-menu-wrapper {
  i {
    font-size: 1.5rem;
  }
  .fa-facebook:hover {
    @include changeIconColor(#3b5998);
  }

  .fa-instagram:hover {
    @include changeIconColor(#c13584);
  }

  .fa-youtube-play:hover {
    @include changeIconColor(#c31a1e);
  }

  .fa-android:hover {
    @include changeIconColor(#82c91e);
  }
}
